[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = https://github.com/42paris/minilibx-linux
[submodule "lib/libft"]
	path = lib/libft
	url = git@vogsphere.42paris.fr:vogsphere/intra-uuid-2b519e90-6e4b-49b8-bfd6-fff188961a0f-6612983-esouhail
